html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tweet{
    background-color: #fff;
    border-style: solid;
    border-color: #cfd9de;
    border-width: 1px;
    border-radius: 16px;
    padding: 12px;
    display: flex;
}

.thumbnails img{
    width: 48px;
    border-radius: 50%;
}

.data{
    padding-left: 12px;
}

.info{
    display: flex;
}

.name{
    color: #000;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.metadata{
    padding-left: 4px;
    color: #71767b;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.message{
    color: #0f1419;
    font-family: sans-serif;
    font-size: 15px;
    padding-top: 2px;
}

.action{
    display: flex;
    justify-content: space-between;
    max-width: 425px;
    padding-top: 12px;
}

.action-item{
    display: flex;
}

.glyphicon{
    color: #536471;
    font-size: 16px;
}

.count{
    color: #536471;
    font-size: 13px;
    padding-left: 12px;
}